*
{
  font-family: Arial Black;
  font-size: 0.9em;
}

p
{
  color: blue;
}

strong
{
    color: green;
}

h1
{
    color: red;
  font-family: Impact;
  font-size: 1.4em;
}

.intro
{
  color: cyan;
}
