.titre
{
  color: maroon;
  background-color: white;
  border-radius: 5px;
  font-size: 40px;
  width: 70%;
  text-align: center;
}

.texte
{
  text-align: center;
  color: blue;
  font-size: 30px;
  line-height: 210%;
  
}

.important
{
  text-decoration: none;
  background-color: none;
  text-align: center;
  color: red;
  text-weight: bald;
}

.conclusion
{
  text-align: center;
  color: red;
  font-size: 30px;
}

body
{
  background: url("cien_1.png") scroll no-repeat top right, url("cien_2.png") scroll no-repeat top left, url("fond_bleu.jpg") fixed;
}
