@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@import url("components/avatar.css");
@import url("components/button.css");

.banner 
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexbox
{
  display: flex;
  justify-content: space-between;
  align-item: center;
}

body
{
  background: url("rem.png") fixed no-repeat top right, url("rem_2.png") fixed no-repeat top left, url("fond_bleu.jpg") fixed;
}
